<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
          integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
            integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
            crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/leaflet-heat.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title>RSSI</title>
</head>
<body onload="heatmapping()">
    <div class="content">
        <div class="toobar">
            <div class="operator">
                <label for="x">Operador</label>
                <select name="operator" id="operatorSelect" onchange="heatmapping()">
                    <option>TIGO</option>
                    <option>CLARO</option>
                    <option>OTROS</option>
                </select>
            </div>
            <div class="network">
                <label for="x">Red</label>
                <select name="operator" id="networkSelect" onchange="heatmapping()">
                    <option>4G</option>
                    <option>3G</option>
                </select>
            </div>

        </div>
        <div class="rssi">
             <div class="signal" id="goodSignal">
                 <div class="color"></div>
                 <div class="text" style="display: ">
                     <span>Se単al Buena</span>
                     <span style="font-size: 13px; justify-content: space-between;" id="goodSignalRssi"></span>
                 </div>
             </div>
            <div class="signal" id="regular Signal">
                <div class="color" style="background-color:yellow"></div>
                <div class="text">
                    <span>Se単al regular</span>
                    <span  style="font-size: 13px; justify-content: space-between"  id="regularSignalRssi"></span>
                </div>
            </div>

            <div class="signal" id="poorSignal">
                <div class="color" style="background-color:green "></div>
                <div class="text">
                    <span>Mala Se単al</span>
                    <span style="font-size: 13px; justify-content: space-between"  id="poorSignalRssi"></span>
                </div>
            </div>
            <div class="signal" id="noSignal">
                <div class="color" style="background-color: blue"></div>
                <div class="text">
                    <span>Sin Se単al</span>
                    <span  style="font-size: 13px; text-align: right;"  id="noSignalRssi"></span>
                </div>
            </div>
        </div>

        <div id="map-template"></div>
    </div>
    <script src="/js/main.js"></script>


</body>
</html>